@model IEnumerable<BnbGo.Models.Location>
@{
    ViewBag.Title = "Location overview";
    ViewBag.SubTitle = "Manage all locations here";
    Layout = "~/Areas/Backoffice/Views/Shared/_Layout.cshtml";
    
}

<div id="submenu">
    <div class="col col-xl-3 col-la-3 col-md-6 col-sm-6 col-xs-6">
        <a class="button" asp-controller="Location" asp-action="Index">Overview</a>
    </div>

    <div class="col col-xl-3 col-la-3 col-md-6 col-sm-6 col-xs-6">
        <a class="button" asp-controller="Location" asp-action="Create">Create new</a>
    </div>

    <form asp-controller="Location" asp-action="Index" method="GET" class="col col-xl-6 col-la-6 col-md-12 col-sm-12 col-xs-12">
        <input class="col col-xl-8 col-la-8 col-md-6 col-sm-6 col-xs-6" type="text" name="searchString" id="searchString" placeholder="Search...">
        <button class="button col col-xl-4 col-la-4 col-md-6 col-sm-6 col-xs-6" type="submit">Search</button>
    </form>
</div>

@Html.Partial("_ListPartial", @Model)
