// get all style variables
@import '../layout/style';

#content_info h1 {
    margin-top: 12px;
    font-size: 21px;
    color: $color_font_primary;
    margin-bottom: 12px
}

#content_info h2 {
    font-size: 18px;
    color: $color_font_secondary;
}

#content_body table {
    color: $color_font_primary;
    margin-top: 18px;
    font-size: 16px;
    border-collapse: collapse;
    th {
        background-color: $color_primary;
        border: 1px solid $color_primary;
        color: #ffffff;
        padding: 12px;
    }
    tr {
        border: 1px solid $color_border;
        cursor: default;
    }
    tr:hover {
        background-color: #f5f5f5;
    }
     td {
        padding: 12px;
        text-align: center;
    }
    td i {
        padding: 0 12px;
        cursor: pointer;
    }
    td a {
        text-decoration: none;
        color: $color_font_secondary;
    }
    td i:hover {
        color: $color_primary;
    }
}

#submenu {
    margin-top: 12px;
    .button {
        text-decoration: none;
        font-size: 18px;
        background-color: $color_primary;
        color: #ffffff;
        text-align: center;
        padding: 6px;
        display: block;
        border: none;
        margin-bottom: 6px;
        margin-top: 6px;
    }
    input {
        padding: 8px;;
        color: $color_font_primary;
        border: 1px solid $color_border;
        margin-bottom: 6px;
        margin-top: 6px;
    }
}

#createForm {
    padding-top: 24px;
    .button {
        text-decoration: none;
        font-size: 18px;
        background-color: $color_primary;
        color: #ffffff;
        text-align: center;
        padding: 6px;
        display: block;
        border: none;
        margin-bottom: 6px;
        margin-top: 6px;
    }
    label {
        margin: 6px 0;
        display: block;
        width: 100%;
    }
    input {
        display: block;
        width: 100%;
        margin-bottom: 12px;
        padding: 6px;
        outline: none;
    }
    select {
        display: block;
        width: 100%;
        margin-bottom: 12px;
        padding: 6px;
        outline: none;
    }
}

#editForm {
    padding-top: 24px;
    .button {
        text-decoration: none;
        font-size: 18px;
        background-color: $color_primary;
        color: #ffffff;
        text-align: center;
        padding: 6px;
        display: block;
        border: none;
        margin-bottom: 6px;
        margin-top: 6px;
    }
    label {
        margin: 6px 0;
        display: block;
        width: 100%;
    }
    input {
        display: block;
        width: 100%;
        margin-bottom: 12px;
        padding: 6px;
        outline: none;
    }
    select {
        display: block;
        width: 100%;
        margin-bottom: 12px;
        padding: 6px;
        outline: none;
    }
}