@model BnbGo.Models.ViewModels.FacilityViewModel
@{
    ViewBag.Title = "Create a facility";
    ViewBag.SubTitle = "Create a new facility";
    Layout = "~/Areas/Backoffice/Views/Shared/_Layout.cshtml";
}

<form id="createForm" class="mid col col-xl-6 col-la-8 col-md-12 col-sm-12 col-xs-12" asp-controller="Facility" asp-action="Create" method="post" asp-antiforgery="true">
    <div class="col col-xl-12 col-md-12 col-la-12 col-sm-12 col-xs-12">
        <label asp-for="Facility.Name">Name</label>
        <input asp-for="Facility.Name">
    </div>
    <div class="col col-xl-12 col-md-12 col-la-12 col-sm-12 col-xs-12">
        <label asp-for="Facility.Description">Description</label>
        <input asp-for="Facility.Description">
    </div>
    <div id="submenu" class="col col-xl-12 col-la-12 col-md-12 col-sm-12 col-xs-12">
        <div class="col col-xl-6 col-la-6 col-md-6 col-sm-6 col-xs-6">
            <a class="button" asp-controller="Facility" asp-action="Index">Cancel</a>
        </div>
        <button type="submit" class="button right col col-xl-6 col-la-6 col-md-6 col-sm-6 col-xs-6">Save</button>
    </div>
</form>