@model BnbGo.Models.ViewModels.ActionRoomViewModel
@{
    ViewBag.Title = "Room Management";
    ViewBag.SubTitle = "Manage all the rooms on your SAAS platform";
    ViewBag.Description = "Create a room via the form or go back to the list of locations.";
    Layout = "~/Areas/Backoffice/Views/Shared/_Layout.cshtml";
}
<div id="submenu">
    <div class="col col-xl-3 col-la-3 col-md-6 col-sm-6 col-xs-6">
        <a class="button" asp-controller="Room" asp-action="Index">Overview</a>
    </div>
</div>
<div class="">
    <div class="">
        <div class="">
          <div class="">
            <h2 class="">
                @Model.Action an existing room</text>
            </h2>
          </div>
          <div class="">
            <p>Do you wish to @Model.Action the room @Model.BaseEntity.Name?</p>
            <form asp-controller="Room" asp-action="Delete" method="post" asp-antiforgery="true">
                <input asp-for="BaseEntity.Id" type="hidden">
                <input asp-for="BaseEntity.Name" type="hidden">
                <input asp-for="BaseEntity.Description" type="hidden">
                <input asp-for="ActionType" type="hidden">
                <button type="submit" class="">@Model.Action</button>
            </form>
          </div>
        </div>
    </div>
</div>