<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Search</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <h1>
    Select a city in {{ region }}
  </h1>
  <ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>
  <ion-list>
    <ion-item (click)="pushCity(item.city.id, item.city.name)" *ngFor="let item of items">
      <h2>{{ item.city.name }}</h2>
      <p *ngIf="item.rooms.length > 1">{{ item.rooms.length }} rooms in this city</p>
      <p *ngIf="item.rooms.length == 1">1 room in this city</p>
      <p *ngIf="item.rooms.length == 0">no rooms in this city</p>
    </ion-item>
  </ion-list>
</ion-content>