@model ICollection<BnbGo.Models.RoomType>
@Html.AntiForgeryToken()
@if (Model != null && Model.Count() > 0)
{
      <table>
        <thead>
          <tr>
            <th>Name</th>
            <th>Description</th>
          </tr>
        </thead>
        <tbody>
          @foreach (var roomtype in Model)
          {
            <tr>
              <td>@roomtype.Name</td>
              <td>@roomtype.Description</td>
            </tr>
          }
        </tbody>
      </table>
}
else
{
    <p>No room types in the database!</p>
}
</div>