page-room {
    .detailBanner {
        position: relative;
        
        .bannerImage {
            filter: brightness(80%);
            height: 30vh;
            background-position: center center;
            background-size: cover;
            background-repeat: no-repeat;
        }

        .bannerTitle {
            position: absolute;
            top: 0;
            right: 0;
            background-color: #f53d3d;
            padding: 6px 12px;
            text-align: right;
            font-size: 18px;
            font-weight: bold;
            color: #fff;
        }
    }
    .detailUser .item-inner {
        border: none !important;
    }
    .fa {
        margin-right: 12px;
    }
    .reservationButton {
        background-color: #f53d3d;
        border-radius: 100%;
        position: fixed;
        bottom: 12px;
        right: 12px;
        color: #ffffff;
        font-size: 20px;
        padding: 12px 9px 10px;;
        .fa {
            margin-right: 0;
        }
    }
}
