<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Bnb Go</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-card *ngFor="let item of items">
    <ion-item>
      <ion-avatar item-left>
        <img *ngIf="item.images.length > 0" src="{{ item.images[0].link }}">
        <img *ngIf="item.images.length == 0" src="../../assets/icon/userIcon.svg">
      </ion-avatar>
      <h2>{{ item.firstName }} {{ item.surName }}</h2>
    </ion-item>
  </ion-card>
</ion-content>