@model ICollection<BnbGo.Models.RentType>
@Html.AntiForgeryToken()
@if (Model != null && Model.Count() > 0)
{
      <table>
        <thead>
          <tr>
            <th>Name</th>
            <th>Description</th>
          </tr>
        </thead>
        <tbody>
          @foreach (var renttype in Model)
          {
            <tr>
              <td>@renttype.Name</td>
              <td>@renttype.Description</td>
            </tr>
          }
        </tbody>
      </table>
}
else
{
    <p>No rent types in the database!</p>
}
</div>