@model ICollection<BnbGo.Models.RentType>
@{
    ViewBag.Title = "RentType detail page";
    ViewBag.SubTitle = "All information about this specific renttype";
    ViewBag.Description = "View this renttype";
    Layout = "~/Areas/Backoffice/Views/Shared/_Layout.cshtml";
}
<div id="submenu">
    <div class="col col-xl-3 col-la-3 col-md-6 col-sm-6 col-xs-6">
        <a class="button" asp-controller="RentType" asp-action="Index">Overview</a>
    </div>
    @foreach (var renttype in Model)
    {
    <div class="col col-xl-3 col-la-3 col-md-6 col-sm-6 col-xs-6">
        <a class="button" asp-controller="RentType" asp-action="Edit" asp-route-id="@renttype.Id">Edit</a>
    </div>
    }
</div>

@Html.Partial("_DetailPartial", @Model)