@model BnbGo.Models.ViewModels.UserViewModel
@{
    ViewBag.Title = "Create a user";
    ViewBag.SubTitle = "Create a new user";
    Layout = "~/Areas/Backoffice/Views/Shared/_Layout.cshtml";
}

<form id="createForm" class="mid col col-xl-6 col-la-8 col-md-12 col-sm-12 col-xs-12" asp-controller="User" asp-action="Create" method="post" asp-antiforgery="true">
    <div class="col col-xl-12 col-md-12 col-la-12 col-sm-12 col-xs-12">
        <label asp-for="User.FirstName">FirstName</label>
        <input asp-for="User.FirstName">
    </div>
    <div class="col col-xl-12 col-md-12 col-la-12 col-sm-12 col-xs-12">
        <label asp-for="User.SurName">SurName</label>
        <input asp-for="User.SurName">
    </div>
    <div class="col col-xl-12 col-md-12 col-la-12 col-sm-12 col-xs-12">
        <label asp-for="User.Email">Email</label>
        <input asp-for="User.Email">
    </div>
    <div class="col col-xl-12 col-md-12 col-la-12 col-sm-12 col-xs-12">
        <label asp-for="User.DayOfBirth">DayOfBirth</label>
        <input asp-for="User.DayOfBirth">
    </div>
    <div class="col col-xl-12 col-md-12 col-la-12 col-sm-12 col-xs-12">
        <label asp-for="User.Country">Country</label>
        <select asp-for="User.CountryId" asp-items="Model.Countries"></select> 
    </div>
    <div class="col col-xl-12 col-md-12 col-la-12 col-sm-12 col-xs-12">
        <label asp-for="User.Region">Region</label>
        <select asp-for="User.RegionId" asp-items="Model.Regions"></select> 
    </div>
    <div class="col col-xl-12 col-md-12 col-la-12 col-sm-12 col-xs-12">
        <label asp-for="User.City">City</label>
        <select asp-for="User.CityId" asp-items="Model.Cities"></select> 
    </div>
    <div id="submenu" class="col col-xl-12 col-la-12 col-md-12 col-sm-12 col-xs-12">
        <div class="col col-xl-6 col-la-6 col-md-6 col-sm-6 col-xs-6">
            <a class="button" asp-controller="User" asp-action="Index">Cancel</a>
        </div>
        <button type="submit" class="button right col col-xl-6 col-la-6 col-md-6 col-sm-6 col-xs-6">Save</button>
    </div>
</form>