<div class="wrapper" id="header">
    <div class="container">
        <div class="row">
            <h1 class="col col-xl-4 col-la-4"><a asp-controller="Home" asp-action="Index">BnbGo <small>backoffice</small></a></h1>
            <div class="col col-xl-8 col-la-8">
                <ul>
                    <li>About</li>
                    <li>Contact</li>
                    <li>Legal information</li>
                </ul>
            </div>
        </div>
    </div>
</div>