<div class="wrapper" id="header">
    <div class="container">
        <div class="row">
            <h1 class="col col-xl-12 col-la-12 col-md-12 col-sm-12 col-cs-12"><a asp-controller="Home" asp-action="Index">BnbGo <small>backoffice</small></a></h1>
        </div>
    </div>
</div>