<div class="box cf">
    <h1>Location management</h1>
    <ul>
        <li><a asp-controller="Country" asp-action="Index"><i class="fa fa-globe"></i>Countries</a></li>
        <li><a asp-controller="Region" asp-action="Index"><i class="fa fa-map"></i>Regions</a></li>
        <li><a asp-controller="City" asp-action="Index"><i class="fa fa-building"></i>Cities</a></li>
    </ul>
    <h1>User management</h1>
    <ul>
        <li><a asp-controller="User" asp-action="Index"><i class="fa fa-user"></i>Users</a></li>
        <li><a asp-controller="Reservation" asp-action="Index"><i class="fa fa-calendar"></i>Reservations</a></li>
        <li><a asp-controller="Room" asp-action="Index"><i class="fa fa-home"></i>Rooms</a></li>
    </ul>
    <h1>Settings management</h1>
    <ul>
        <li><a asp-controller="Facility" asp-action="Index"><i class="fa fa-list"></i>Facilities</a></li>
        <li><a asp-controller="HouseType" asp-action="Index"><i class="fa fa-list-alt"></i>House types</a></li>
        <li><a asp-controller="RoomType" asp-action="Index"><i class="fa fa-list-alt"></i>Room types</a></li>
        <li><a asp-controller="RentType" asp-action="Index"><i class="fa fa-list-alt"></i>Rent types</a></li>
        <li><a asp-controller="CurrencyType" asp-action="Index"><i class="fa fa-list-alt"></i>Currency types</a></li>
    </ul>
</div>