@model ICollection<BnbGo.Models.CurrencyType>
@Html.AntiForgeryToken()
@if (Model != null && Model.Count() > 0)
{
      <table>
        <thead>
          <tr>
            <th>Currency</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          @foreach (var currency in Model)
          {
            <tr>
              <td>@currency.Name</td>
              <td><i class="fa fa-pencil"> </i><i class="fa fa-trash-o"></i> <i class="fa fa-trash"></i></td>
            </tr>
          }
        </tbody>
      </table>
}
else
{
    <p>No currency types in the database!</p>
}
</div>