@model ICollection<BnbGo.Models.Country>
@Html.AntiForgeryToken()
@if (Model != null && Model.Count() > 0)
{
      <table>
        <thead>
          <tr>
            <th>Country</th>
            <th>Iso Code</th>
            <th>Description</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          @foreach (var country in Model)
          {
            <tr>
              <td>@country.Name</td>
              <td>@country.Iso2</td>
              <td>@country.Description</td>
              <td><i class="fa fa-pencil"> </i><i class="fa fa-trash-o"></i> <i class="fa fa-trash"></i></td>
            </tr>
          }
        </tbody>
      </table>
}
else
{
    <p>No Countries in the database!</p>
}
</div>