<div class="">
    <ul class="">
        <li><a asp-controller="Country" asp-action="Index">List of items</a></li>
        <li><a asp-controller="Country" asp-action="Create">Create a new item</a></li>
    </ul>
</div>