@model BnbGo.Models.ViewModels.CountryViewModel
@{
    ViewBag.Title = "Edit a country";
    ViewBag.SubTitle = "Edit the current country";
    Layout = "~/Areas/Backoffice/Views/Shared/_Layout.cshtml";
}

<form id="editForm" class="mid col col-xl-6 col-la-8 col-md-12 col-sm-12 col-xs-12" asp-controller="Country" asp-action="Edit" method="post" asp-antiforgery="true">
    <input asp-for="Country.Id" type="hidden">
    <div class="col col-xl-12 col-md-12 col-la-12 col-sm-12 col-xs-12">
        <label asp-for="Country.Name">Name</label>
        <input asp-for="Country.Name">
    </div>
    <div class="col col-xl-12 col-md-12 col-la-12 col-sm-12 col-xs-12">
        <label asp-for="Country.Iso2">Iso2</label>
        <input asp-for="Country.Iso2">
    </div>
    <div class="col col-xl-12 col-md-12 col-la-12 col-sm-12 col-xs-12">
        <label asp-for="Country.CurrencyType">CurrencyType</label>
        <select asp-for="Country.CurrencyTypeId" asp-items="Model.CurrencyTypes"></select> 
    </div>
    <div id="submenu" class="col col-xl-12 col-la-12 col-md-12 col-sm-12 col-xs-12">
        <div class="col col-xl-6 col-la-6 col-md-6 col-sm-6 col-xs-6">
            <a class="button" asp-controller="City" asp-action="Index">Cancel</a>
        </div>
        <button type="submit" class="button right col col-xl-6 col-la-6 col-md-6 col-sm-6 col-xs-6">Save</button>
    </div>
</form>