<div class="ahs-list-overview">
    <div class=" mdl-color-text--blue-grey-400">
        <ul class="ahs-list-overview__list">
            <li><a asp-controller="City" asp-action="Index">List of items</a></li>
            <li><a asp-controller="City" asp-action="Create">Create a new item</a></li>
        </ul>
    </div>
</div>