<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Search</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="card-background-page" padding>
  <h1>
    Select a region in {{ country }}
  </h1>
  <ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>
  <ion-card (click)="pushRegion(item.id, item.name)" *ngFor="let item of items">
    
    <img *ngIf="item.images[0]" src="{{ item.images[0].link }}"/>
    <img *ngIf="!item.images[0]" src="../../assets/images/landscape-1.jpg"/>
    
    <div class="card-title">{{ item.name }}</div>
  </ion-card>
</ion-content>